body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e2e2e2;
}

.container {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    border: 2px solid rgb(13, 13, 15);
    border-radius: 15px;
    text-align: center;
}

.image-wrapper {
    width: 100%; 
    height: 100%; 
}

.texto-sobre-imagem {
    display: block;
    background-color: rgb(255, 123, 0);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    position: absolute;
    bottom: -70%;
    transition: bottom 0.3s ease-in; 
    width: 95%; 
}

.container:hover .texto-sobre-imagem {
    bottom: 0;
}

img {
    width: 400px; 
    height: 100%;
    border-radius: 6px;
    transition: transform 0.3s ease; 
}

h1 {
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    margin-top: 20px;
}

.github-link {
    position: fixed;
    bottom: 10px; 
    right: 10px; 
}

.github-link a {
    display: block;
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.github-link a:hover {
    background-color: darkblue;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%; 
    }
}
@media screen and (max-width: 768px) {
    .container:hover .texto-sobre-imagem {
        bottom: 0; 
    }
}
