body{
    margin: 0;
    display: flex;
    justify-content: flex;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 5%, 16%);
    background-image: url("https://cdn.braziliantimes.com/website/base/b42/03b/21d/olympic-games-sports-background-with-copy-space-text.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    flex-direction: column;
    margin-top: 30px;
}

#botao1{
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 400px;
    height: 250px;
    border-radius: 40px;
    border: none;
    background-color: hsl(7, 100%, 50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s ease;
}
button:hover{
    background-color: hsl(0, 0%, 0%);
}
button:active{
    background-color: hsl(0, 5%, 21%);
}
